body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  padding: 20px;
  }
      
   .habit-tracker {
    
      max-width: 500px;
      margin:0;
      background: rgb(222, 216, 216);
      padding: 15px;
      border-radius: 12px;
      box-shadow: 0 2px 2px rgba(0,0,0,0.1);
     }
      
       .habit {
         display: flex;
         gap: 10px;
         margin-bottom: 20px;
       }
      
      input {
         flex: 1;
        padding: 10px;
         border-radius: 6px;
         border: 1px solid #ccc;
      }
      
      button {
        padding: 10px 15px;
         border: none;
        border-radius: 6px;
         background: #4caf50;
         color: white;
         cursor: pointer;
       }
      
       .habit {
         display: flex;
         justify-content: space-between;
         align-items: center;
         padding: 10px;
         margin-bottom: 10px;
        border-bottom: 1px solid #eee;
       }
      
  button {
      padding: 5px 15px;
       border: none;
       border-radius: 6px;
       background: #4caf50;
       color: white;
       cursor: pointer;
     }
 .habit-value{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
 }    
    
